<%- include('../includes/layout-start') %>

<h2 class="h_create">Добавить новую книгу</h2>
<%- include('../includes/message') -%>

<div class="con">
    <form class="formNewBook" action="javascript: reqCreate()" accept=".txt">
        <input name="title" required/>
        <label class="form__label">Название книги</label>
        <textarea name="description"></textarea>
        <label class="form__label">Описание</label>
        <input name="authors" required/>
        <label class="form__label">Автор</label>
        <label class="form__label">прикрепить файл книги</label>
        <input type="file" name="fileBook" multiple accept=".pdf, .txt"/>
        <label class="form__label">прикрепить обложку книги</label>
        <input type="file" name="fileCover" accept=".jpg"/>
        <button class="btnSubmit" type="submit">Отправить</button>
    </form>
</div>
<%- include('../includes/script')%>
<%- include('../includes/layout-end')%>